.ant-spin-nested-loading >div>.ant-spin .ant-spin-text {
  padding-top: 40px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.echart-tooltip-zIndex {
  z-index: 8 !important;
}
